
html, body{    
    overflow-y: auto;
    overflow-x: auto;
    background-color: rgb(21, 21, 65);
    background-image: linear-gradient(
        to right,
        black,
        rgb(4, 4, 22),
        rgb(38, 38, 82),
        black
    );
 }

    /* MEDIA & ANIMATIONS */

.avatar{
    animation: shake 10s;
    animation-iteration-count: infinite;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
    
    /*
    @keyframes rotate{
        0% { transform: rotate(20deg);}
        30% { transform: rotate(80deg);}
        40% { transform: rotate(100deg);}
        50% { transform: rotate(120deg);}
        60% { transform: rotate(140deg);}
        90% { transform: rotate(320deg);}
        100% { transform: rotate(0deg);}
    }


    */ 
    @keyframes shake {
        0%  { transform: translate(1px, 1px)  rotate(0deg);  }
        10% { transform: translate(-1px, -2px)rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg);  }
        30% { transform: translate(3px, 2px)  rotate(0deg);  }
        40% { transform: translate(1px, -1px) rotate(1deg);  }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg);  }
        70% { transform: translate(3px, 1px)  rotate(-1deg); }
        80% { transform: translate(-1px, -1px)rotate(1deg);  }
        90% { transform: translate(1px, 2px)  rotate(0deg);  }
        100%{ transform: translate(1px, -2px) rotate(-1deg); }
    }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
/* ########################################################################## */
/* ########################################################################## */
/* ########################################################################## */



    /* FONTS */

article p{
    
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

nav p{
    color: white;
    font-family: sans-serif; 
    font-size: 16px;
}

nav p:hover{
    animation: shake 5s;
    animation-iteration-count: infinite;
}




/* ########################################################################## */
/* ########################################################################## */
/* ########################################################################## */




    /* LAYOUTS */


.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: center;
}

.nav ul {
    padding-top: 20px;
    text-align: center;
    list-style-type: none;
    padding-bottom: 20px;
}


@media all and (min-width: 768px) {
    .nav {
        text-align: center;
        -webkit-flex: 1 auto;
        flex:1 auto;
        -webkit-order:1;
        order: 1;
        width: 25%;
    }

    .article {
        -webkit-flex:5 0px;
        flex:5 0px;
        -webkit-order:2;
        order:2;
    }
}