
html, body{
    overflow-y: auto;
    overflow-x: auto;
    background-color: rgb(21, 21, 65);
    background-image: linear-gradient(
        to right,
        black,
        rgb(4, 4, 22),
        rgb(38, 38, 82),
        black
    );
 }


.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social:hover{
        animation: rotate 1s;
        animation-iteration-count: infinite;
    }

    @keyframes rotate{
        0% { transform: rotate(20deg);}
        30% { transform: rotate(80deg);}
        40% { transform: rotate(100deg);}
        50% { transform: rotate(120deg);}
        60% { transform: rotate(140deg);}
        90% { transform: rotate(320deg);}
        100% { transform: rotate(0deg);}
    }
    
    @keyframes shake {
        0%  { transform: translate(1px, 1px)  rotate(0deg);  }
        10% { transform: translate(-1px, -2px)rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg);  }
        30% { transform: translate(3px, 2px)  rotate(0deg);  }
        40% { transform: translate(1px, -1px) rotate(1deg);  }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg);  }
        70% { transform: translate(3px, 1px)  rotate(-1deg); }
        80% { transform: translate(-1px, -1px)rotate(1deg);  }
        90% { transform: translate(1px, 2px)  rotate(0deg);  }
        100%{ transform: translate(1px, -2px) rotate(-1deg); }
    }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

p{
    animation: shake 5s;
    animation-iteration-count: infinite;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

p:hover{
    background-color: black;
}

.col{
    background: rgba(0, 0, 0, 0.0);
    padding: 3%;
    align-content: center;
    text-align: center;
}

footer{
    padding: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}