body{
    padding: 30px;
    background-color: black;
}
p, a {
    text-align: center;
    font-family: cursive;
    color: white;
}

header{
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    font-size: 30px;
}

div.a{
    padding: 20px;
    color: rgb(49, 196, 49);
    font-family: 'monospace';
}

footer{
    padding: 10px;
    background-color: black;
    height:7%;
    bottom: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
}

div#asd{
    float: left;
}

img{
    padding: 5%;
    margin-left: 10%;
    margin-right: 5%;
    height: 50px;
    width: 50px;
}

